!!! 5
html(lang="en")
    head
            <!-- SCRIPTS -->
            <script src="//code.jquery.com/jquery-1.9.1.js"></script>
            <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script src="/lib/jquery.ui.touch-punch.min.js"></script> 

            <script src="/socket.io/socket.io.js"></script>

            <script src="/lib/jquery.jeditable.js"></script> 

            <script src="/script.js"></script> 

            <script src="/lib/jquery.blockUI.js"></script> 

            <!-- STYLES -->
            <link rel="stylesheet" type="text/css" href="/css/style.css" />
            <link rel="stylesheet" title="cardsize" href="/css/bigcards.css" type="text/css" media="all" />

            <!-- FONTS -->
            <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

            title= locals.pageTitle

    body!= body
